.contact-page {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px;
}

.conto {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 700px;
}

.conto > * p {
  font-size: 14px;
  text-align: start;
  font-style: italic;
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  opacity: 0.8;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-top: 0.8rem;
}

.contact-1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-1 h2 {
  font-family: "Inter Tight", "Inter Tight Placeholder", sans-serif;
  line-height: 1.2em;
  letter-spacing: 0em;
  font-weight: 400;
  font-size: 1rem;
}

.topimg img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-position: center center;
  object-fit: cover;
}

.topimg {
  backdrop-filter: blur(5px);
  border-radius: 6px;
  box-shadow: 0 0.3010936508871964px 1.0237184130164678px #00000003,
    0 1.1442666516217286px 3.890506615513877px #00000009, 0 5px 17px #00000026;
  flex: none;
  height: 73px;
  overflow: visible;
  position: relative;
  width: 73px;
}

.contact-icon {
  display: flex;
  gap: 1rem;
}

.contact-icon a {
  color: var(--body_color);
  font-size: 1.2rem;
  opacity: 0.8;
  margin-top: 0.5rem;
  transition: all 0.5s ease-in-out;
  display: inline-block;
}

.contact-icon a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.carousel {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40rem;
  opacity: 1;
  overflow: hidden;
  mask-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  max-width: 690px;
}

.caro img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center center;
  border-radius: 6px;
  object-fit: cover;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: scrollUp 20s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

/* .carousel-inner:hover {
  animation-play-state: paused;
} */

/* .carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: 1;
  pointer-events: none;
}

.carousel::before {
  top: 0;
  background: linear-gradient(to bottom, white, transparent);
}

.carousel::after {
  bottom: 0;
  background: linear-gradient(to top, white, transparent);
} */

.caro {
  backdrop-filter: blur(5px);
  border-radius: 6px;
  box-shadow: 0 0.3010936508871964px 1.0237184130164678px #00000003;
  flex: none;
  height: 15rem;
  overflow: visible;
  position: relative;
  width: 55rem;
}

@media (max-width: 1200px) {
  .carousel {
    height: fit-content;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 12.5%,
      rgb(0, 0, 0) 87.5%,
      rgba(0, 0, 0, 0) 100%
    );
    overflow: hidden;
  }

  .contact-page {
    flex-direction: column;
    margin-top: 6rem;
  }

  .carousel-inner {
    flex-direction: row;
    gap: 2rem;
    animation: scrollLeft 20s linear infinite;
    min-width: max-content;
    width: 100%;
  }

 

  @keyframes scrollLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .caro {
    width: 22rem;
    flex: 0 0 auto;
  }
}
