.serenity-sec {
  padding: 1rem;
  width: 100%;
  max-width: 1600px;
  margin-top: 3rem;
}

.rockies-cont {
  width: 100%;
}

.ser {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0 20px 0px 0;
  margin-bottom: 3.5rem;
  position: relative;
  width: 100%;
  max-width: 700px;
  z-index: 5;
}

.ser h2 {
  text-align: start;
}

.ser p {
  text-align: start;
}

.serenity {
  display: flex;
  gap: 4rem;
}

.seren {
  width: 100%;
  max-width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.008) 0px 0.301094px 1.02372px 0px;
}

.seren img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.about-serenity {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  width: 100%;
  max-width: 220px;
  overflow: visible;
  padding: 20px 0 0;
  position: sticky;
  top: 80px;
  z-index: 5;
}

.about-serenity >* p{
    color: var(--text_color);
}

@media (max-width: 768px) {
  .serenity-sec{
    margin-top: 5rem;
  }

  .ser{
    margin-bottom: 1rem;
  }

  .serenity{
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .about-serenity{
    position: relative;
    top: 0px;
  }
}
